body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(30, 0, 201, 0.1);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

#exMnSys {
    color: aqua;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin-bottom: 10px;
}

#error {
    color: red;
    margin-bottom: 10px;
}

#expenseList {
    margin-top: 20px;
}

.expense-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.expense-item button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#totalExpenses {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
